body {
	background-image: url(https://wallpapercave.com/wp/wp6187849.png);
}

.header {
	color: #2a3033;
	font-family: YellowTail, cursive;
	font-size: 70px;
	letter-spacing: 0px;
	margin-top: 40px;
	margin-left: 87px;
}

.header img {
	width: 80px;
}

#div {
	background: #c6e3ad;
	float: none;
	border-radius: 15px;
	width: 650px;
	height: 300px;

}


#boxxy {

	font-family: 'Architects Daughter', cursive;
	color: #8bb16b;
	font-size: 22px;

}

#uber {

	font-family: 'Autour One', cursive;
	color: #8bb16b
}


.room_name {
	cursor: pointer;
	font-size: 20px;
}


#logout {
	font-size: 20px;
	float: right;
}


#output {
	padding: 10px;
	width: 80%;
	background: #c6e3ad;
	border-radius: 15px;
}


